<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
</head>

<body>
    <h1>Welcome to payment gateway</h1>
    <form action="createSession" method="POST">

        <script src="//checkout.stripe.com/v2/checkout.js" class="stripe-button" data-key="pk_test_51KvzbiSBH27kQJ3PoJOrSPWWKnt0vLOVsvuZjpfCjEc0PaKv9G8yKsF1dZtV71sb5lnt0vWt06AaanntHUU3vd2l002I9RVLI7" data-amount="10000" data-currency="inr" data-name="FoodApp"
            data-description="Buy Food Plan" data-locale="auto">
        </script>
    </form>
</body>

</html>